.button-login {
    background-color: #6ea9b5;
    font-family : Arial, serif;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    height: 50px;
    width: 250px;
}
.input-info {
    font-size: 16px;
    margin: 4px;
    color: #6ea9b5;
    border-radius: 10px;
    padding: 10px 32px;
    border-color: #6ea9b5;
    height: 25px;
    width: 182px;
    font-family : Arial, serif;
}
.text {
    font-size: 16px;
    margin: 4px;
    font-family : Arial, serif;
    color: #6ea9b5;
}
.text-header {
    font-size: 30px;
    margin: 10px;
    font-family : Arial, serif;
    color: #6ea9b5;
}